@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background-base: #2d2d2d;
  --faint_white: #b3b3b3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
}

a[href="index.html"] svg {
  fill: white;
}

a[href="index.html"] p {
  color: white;
}

.grid_container {
  display: grid;
  grid-template-areas:
    "page_left page_top"
    "page_left page_right"
    "page_bottom page_bottom";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.top_nav {
  grid-area: page_top;
  background-color: #000000a0;
}

.left_nav {
  grid-area: page_left;
}

.page_bottom {
  grid-area: page_bottom;
  width: 100%;
}

.page_right {
  grid-area: page_right;
  background-color: #00000000;
  width: 100%;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  z-index: -1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.idk {
  position: relative;
  width: 100%;
  height: 100%;
}

.background_color {
  background-image: linear-gradient(var(--background-base), #000000);
  top: 0;
  position: absolute;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  width: 100%;
  z-index: -1;
  height: 350px;
}

.logged_out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: linear-gradient(90deg, #af2896, #509bf5);
}

.page_bottom_left>p {
  margin: 5px;
  font-size: 14px;
}

.page_bottom_left>p:first-child {
  font-weight: 400;
}

.page_bottom_right>button {
  padding: 15px 25px;
  border-radius: 500px;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  border: none;
}

.page_bottom_right>button:hover {
  position: relative;
  transform: scale(1.05);
  transition: ease 50ms;
}

.spotify_playlists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-weight: bolder;
  font-size: 14px;
}

.header>div:last-child {
  color: var(--faint_white);
}

.header>div:last-child>p {
  margin: 0;
  margin-top: 25px;
}

.playlist_container {
  display: flex;
  width: 100%;
  padding: 0 10px;
  gap: 24px;
}

.playlist_tab {
  background-color: #161616d0;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.mini_background_container {
  position: relative;
}

.mini_background_container>img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.mini_background_container>button {
  position: absolute;
  right: 5px;
  bottom: -20px;
  background-color: #2fff71;
  border: none;
  border-radius: 500px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.playlist_tab:hover button {
  display: flex;
  bottom: 10px;
}

.short_desc_container {
  max-width: 150px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 90px;
  line-height: 20px;
}

.short_desc_container>p:first-child {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 19px;
}

.short_desc_container>p:last-child {
  color: var(--faint_white);
  font-size: 12px;
  margin-bottom: 0;
}