@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --faint_white: #b3b3b3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
}

a[href="/index.html"] svg {
  fill: white;
}

a[href="/index.html"] p {
  color: white;
}

.grid_container {
  display: grid;
  grid-template-areas:
    "page_left page_top"
    "page_left page_right"
    "page_bottom page_bottom";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.top_nav {
  grid-area: page_top;
}

.left_nav {
  grid-area: page_left;
  width: 390px;
  transition: width ease 400ms;
}

.page_bottom {
  grid-area: page_bottom;
  width: 100%;
  background-color: #181818;
  padding: 5px 0;
}

.page_right {
  grid-area: page_right;
  background-color: #00000000;
  width: 100%;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.idk {
  position: relative;
  width: 100%;
  height: 100%;
}

.gradientOne {
  background-image: linear-gradient(#252525, #000000);
}

.gradientTwo {
  background-image: linear-gradient(#2b4172, #000000);
}

.background_color {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 350px;
}

.logged_out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: linear-gradient(90deg, #af2896, #509bf5);
}

.page_bottom_left>p {
  margin: 5px;
  font-size: 14px;
}

.page_bottom_left>p:first-child {
  font-weight: 400;
}

.page_bottom_right>button {
  padding: 15px 25px;
  border-radius: 500px;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  border: none;
}

.page_bottom_right>button:hover {
  position: relative;
  transform: scale(1.05);
  transition: ease 50ms;
}

.spotify_playlists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-weight: bolder;
  font-size: 14px;
}

.header>div:last-child {
  color: var(--faint_white);
}

.header>div:last-child>p {
  margin: 0;
  margin-top: 25px;
}

.playlist_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  padding: 0 10px;
  gap: 24px;
}

.playlist_tab {
  background-color: #161616d0;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 400ms;
}

.playlist_tab:hover {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.mini_background_container {
  position: relative;
  transition: all ease 400ms;
}

.mini_background_container>img {
  display: block;
  width: 100%;
  border-radius: 5px;
  transition: all ease 400ms;
}

.mini_background_container>button {
  position: absolute;
  bottom: 0px;
  right: 20px;
  background-color: transparent;
  fill: transparent;
  padding: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform ease 50ms;
  border: none;
  outline: none;
  visibility: hidden;
  transition: transform ease 600ms, visibility ease 600ms;
  cursor: pointer;
}

.playlist_tab:hover button {
  fill: black;
  background-color: #1ed760;
  /* bottom: 4px; */
  transform: translateY(-10px);
  visibility: visible;
}

.short_desc_container {
  max-width: 150px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 90px;
  line-height: 20px;
}

.short_desc_container>p:first-child {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 19px;
}

.short_desc_container>p:last-child {
  color: var(--faint_white);
  font-size: 12px;
  margin-bottom: 0;
}

.login_pop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000e4;
  display: none;
  justify-content: center;
  align-items: center;
}

.login_pop_container {
  position: relative;
  border-radius: 7px;
  display: flex;
  padding: 70px;
  gap: 50px;
  background-image: linear-gradient(#720000d6, #1e1e1e);
}

.login_pop_desc {
  text-align: center;
  max-width: 300px;
  padding-top: 30px;
}

.login_pop_desc>div:first-child {
  font-size: 25px;
  line-height: 40px;
  font-weight: bolder;
  word-wrap: break-word;
}

.login_pop_desc>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.playlist_background {
  width: 400px;
}

#playlist_background {
  border-radius: 10px;
  display: block;
  width: 100%;
}

#popup_signup {
  background-color: #2fff71;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 500px;
  cursor: pointer;
  border: none;
}

#popup_download {
  background-color: #00000000;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 500px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.login_pop_desc>div:last-child {
  margin-top: 50px;
  font-size: 12px;
  color: var(--faint_white);
}

.login_pop_desc span {
  color: white;
  background-color: transparent;
}

#close_btn {
  position: absolute;
  bottom: -40px;
  left: 400px;
  background-color: black;
  color: var(--faint_white);
  font-size: 13px;
  font-weight: bolder;
  border: none;
}

#close_btn:hover {
  color: white;
  transform: scale(1.02);
}

@media (max-width : 1670px) {
  .playlist_container {
    grid-template-columns: repeat(6, 1fr);
  }

  .playlist_tab:nth-child(7) {
    display: none;
  }
}

@media (max-width : 1460px) {
  .playlist_container {
    grid-template-columns: repeat(5, 1fr);
  }

  .playlist_tab:nth-child(6) {
    display: none;
  }
}

@media (max-width : 1300px) {
  .playlist_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .playlist_tab:nth-child(5) {
    display: none;
  }

  .left_nav {
    width: 200px;
  }
}

@media (max-width : 900px) {
  .page_right {
    height: calc(100vh - 155px);
  }

  .left_nav {
    width: 60px;
  }

  .left_nav_title * {
    color: #00000000 !important;
  }

  .left_nav_banner {
    z-index: -1;
    position: relative;
    left: -7px;
  }
}

@media (max-width: 650px) {
  .playlist_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .playlist_tab:nth-child(4) {
    display: none;
  }
}

@media (max-width: 500px) {
  .playlist_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .playlist_tab:nth-child(3) {
    display: none;
  }
}