a[href="/index.html"] svg {
    fill: #b3b3b3;
}

a[href="/index.html"] p {
    color: #b3b3b3;
}

a[href="/pages/liked.html"] svg {
    fill: white;
}

a[href="/pages/liked.html"] p {
    color: white;
}

.heart_button:active {
    transform: scale(0.5);
    transition: transform ease 400ms;
}

.liked_btn_duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.liked_btn {
    margin-right: 5px;
}

.song_duration {
    margin-left: 5px;
}

.heart_button {
    visibility: visible !important;
    background-color: transparent !important;
    border-style: none !important;
    fill: #00f056 !important;

    cursor: pointer;
}

.uPxdw {
    fill: #00f056 !important;
    height: 16px;
    width: 16px;
}